.portBox_portfolio {
    display: flex !important;
    
}
.portBox_portfolio > .imgBox{
    width: 70%;
}

.innerBox_pot {
    padding: 50px 0;
}
.portfolioWrap img {
    width: 100%;
}
.portfolioWrap .textBox a {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    color:#fff;
    text-decoration: none;
}
.portBox {
    /* position: relative; */
}
.textBox {
    width: 30%;
    padding-left: 20px;
    
}
.textBox > .pad {
    padding: 2.5px 0;
    font-size: 17px;
}
.textBox > .title {
    font-size: 30px;
}
.textBox > .wp {
    font-size: 16px;
}
.textBox > .concept {
    font-size: 16px;
    line-height: 1.6;
}
.textBox > .link > a{
    font-size: 16px;
    transition: 0.3s;
}
.textBox > .link > a:hover {
    scale: 1.05;
}
.titleBox h2 {
    padding-bottom: 70px;
    font-size: 35px;
    text-align: center;
    color:transparent;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
}
.slick-next {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    font-size: 18px;
    color:#fff;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
}
.slick-prev {
    position: absolute;
    right: 120px;
    bottom: 0;
    width: 100px;
    font-size: 18px;
    color: #fff;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
}